<div class="container">
    <div class="row">
        <div class="col">
            <div class="mb-3">
                <mat-form-field appearance="fill" class="first">
                    <mat-label>product code</mat-label>
                    <input matInput placeholder="product code">
                </mat-form-field>
            </div>
            <div class="row d-flex">
                <div class="mb-3 w-50">
                    <!-- <mat-form-field appearance="fill" class="first">
                        <mat-label>products select</mat-label>
                        <input matInput placeholder="product select">
                    </mat-form-field> -->
                    <mat-form-field  appearance="fill" class="first">
                        <mat-label>Select me</mat-label>
                        <mat-select>
                          <mat-option value="option">Option</mat-option>
                        </mat-select>
                       
                      </mat-form-field>
                </div>
                <div class="mb-3 w-50">
                    <mat-form-field appearance="fill" class="first">
                        <mat-label>Product Bill No</mat-label>
                        <input matInput placeholder="Placeholder">
                    </mat-form-field>
                </div>
            </div>
            <div class="row d-flex">
                <div class="mb-3 w-50">
                    <mat-form-field appearance="fill" class="first">
                        <mat-label>product Qty</mat-label>
                        <input matInput placeholder="Placeholder">
                    </mat-form-field>
                </div>
                <div class="mb-3 w-50">
                    <mat-form-field appearance="fill" class="first">
                        <mat-label>Product Rate</mat-label>
                        <input matInput placeholder="Placeholder">
                    </mat-form-field>
                </div>
            </div>
            <div class="row d-flex">
                <div class="mb-3 w-50">
                    <mat-form-field appearance="fill" class="first">
                        <mat-label>Product CGST</mat-label>
                        <input matInput placeholder="Product CGST">
                    </mat-form-field>
                </div>
                <div class="mb-3 w-50">
                    <mat-form-field appearance="fill" class="first">
                        <mat-label>Product SGST</mat-label>
                        <input matInput placeholder="Product SGST">
                    </mat-form-field>
                </div>
            </div>
            <div class="row d-flex">
                <div class="mb-3 w-50">
                    <mat-form-field appearance="fill" class="first">
                        <mat-label>Product IGST</mat-label>
                        <input matInput placeholder="Product IGST">
                    </mat-form-field>
                </div>
                <div class="mb-3 w-50">
                    <mat-form-field appearance="fill" class="first">
                        <mat-label>Total Amount</mat-label>
                        <input matInput placeholder="Total Amount">
                    </mat-form-field>
                </div>
            </div>
<div class="button">
    <button mat-raised-button color="primary">Add</button>
    <button mat-raised-button color="primary">Reset</button>
</div>
            <!-- <div class="row d-flex">
                <div class="mb-3 w-50">
                    <mat-form-field appearance="fill" class="first">
                        <mat-label>Fill form field</mat-label>
                        <input matInput placeholder="Placeholder">
                    </mat-form-field>
                </div>
                <div class="mb-3 w-50">
                    <mat-form-field appearance="fill" class="first">
                        <mat-label>Fill form field</mat-label>
                        <input matInput placeholder="Placeholder">
                    </mat-form-field>
                </div> -->
            <!-- </div> -->
        </div>
    </div>
</div>