<!-- 
<mat-drawer-container class="example-container" autosize>
<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
  </button>
  <span>Stock management</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>

<mat-drawer #drawer class="example-sidenav" mode="over">
  <button mat-raised-button color="primary">close</button>

  <div>
    <mat-list role="list">
      <mat-list-item role="listitem" class="sidebar-inner-list"><button mat-button class="list-button"
          routerLink=""><i class="material-icons me-2 icon-color">dashboard</i>Dashboard</button></mat-list-item>
      <mat-list-item role="listitem" class="sidebar-inner-list"><button mat-button class="list-button"
          routerLink="products"><i class="material-icons me-2 icon-color">store</i>Products</button></mat-list-item>
      <mat-list-item role="listitem" class="sidebar-inner-list"><button mat-button class="list-button"
          routerLink="stocks"><i class="material-icons me-2 icon-color">stacked_bar_chart</i>Stocks</button></mat-list-item>
      <mat-list-item role="listitem" class="sidebar-inner-list"><button mat-button class="list-button"><i class="material-icons me-2 icon-color">add_shopping_cart</i>Sale
          Products</button></mat-list-item>
    </mat-list>
  </div>
</mat-drawer>


  <div class="example-sidenav-content">
  </div>
</mat-drawer-container> -->






<mat-drawer-container class="example-container accent-sidebar" autosize>

  <mat-drawer #drawer2 class="example-sidenav" mode="over">
    <div class="sidebar">
      <div>Menu</div>
      <button type="button" mat-icon-button (click)="drawer2.toggle()">
        <i class="material-icons">close</i>
      </button>
    </div>
    <div class="sidemenu">
      <button mat-button color="primary" routerLink="/dashboard"><i class="material-icons me-2 icon-color">dashboard</i>Dashboard</button>
      <button mat-button color="primary" routerLink="/product"><i class="material-icons me-2 icon-color">store</i>Product</button>
      <button mat-button color="primary" routerLink="/stock"><i class="material-icons me-2 icon-color">stacked_bar_chart</i>Stocks</button>
    </div>
  </mat-drawer>

  <div class="navbar">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon"
      (click)="drawer2.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <div>Stock Management</div>
  </div>

  <div class="body-content">

    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>
