@import '~@angular/material/prebuilt-themes/indigo-pink.css';


html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding:0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}


// .example-spacer {
//   flex: 1 1 auto;
// }

// .example-container {
//   width: 100%!important;
//   height: 90vh!important;
//   // border: 1px solid rgba(0, 0, 0, 0.5);
// }

// .example-sidenav-content {
//   // display: flex;
//   height: 100%;
//   // align-items: center;
//   justify-content: center;
// }

// .example-sidenav {
//   padding: 20px;
//   width: 15%;
// }

// @media screen and (max-width: 1140px) {
//   .example-sidenav {
//     width: 40% !important;
//   }
// }

// @media screen and (max-width: 1024px) {
//   .example-sidenav {
//     width: 30% !important;
//   }
// }

// @media screen and (max-width: 768px) {
//   .example-sidenav {
//     width: 40% !important;
//   }
// }

// @media screen and (max-width: 425px) {
//   .example-sidenav {
//     width: 60% !important;
//   }
// }

// @media screen and (max-width: 375px) {
//   .example-sidenav {
//     width: 80% !important;
//   }
// }

// @media screen and (max-width: 320px) {
//   .example-sidenav {
//     width: 70% !important;
//   }
// }